body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #5e5e5e;
    padding: 20px;
}

header {
    text-align: center;
    margin-bottom: 40px;
}

header h1 {
    font-size: 2.5rem;
    margin-bottom: 10px;
}

header p {
    font-size: 1.1rem;
    color: #555;
}


footer {
    text-align: center;
    margin-top: 40px;
    font-size: 0.9rem;
    color: #777;
}

.card{
    max-width: 350px;
    padding: 10px;
}


.card [slot='footer'] {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card [slot='header'] {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.descripcion-nivel{
    display: flex;
    align-items: center;
}

.descripcion-nivel p{
    padding-left: 20px;
}

.divisor-secundario{
    padding-left: 10px;
    padding-right: 40px;
}